In [19]:
import pandas as pd

# load imdb csv file into dataframe
df = pd.read_csv("./movie_rate_adjusted_metadata.csv" )
df.head()

,movie_title,title_year,director_name,gross,budget,content_rating,country
0,Avatar,2009.0,James Cameron,760505847.0,237000000.0,PG-13,USA
1,Pirates of the Caribbean: At World's End,2007.0,Gore Verbinski,309404152.0,300000000.0,PG-13,USA
2,The Dark Knight Rises,2012.0,Christopher Nolan,448130642.0,250000000.0,PG-13,USA
3,John Carter,2012.0,Andrew Stanton,73058679.0,263700000.0,PG-13,USA
4,Spider-Man 3,2007.0,Sam Raimi,336530303.0,258000000.0,PG-13,USA

In [20]:
df.shape

(3020, 7)

In [21]:
droppedNan = df.dropna(how='any')
droppedNan.shape

(3020, 7)

In [22]:
imdb = df.drop_duplicates()
imdb.shape

(2939, 7)

In [23]:
imdb.content_rating.unique()

array(['PG-13', 'PG', 'G', 'R', 'NC-17'], dtype=object)

In [24]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(imdb.content_rating.unique())

list(le.classes_)

['G', 'NC-17', 'PG', 'PG-13', 'R']

In [25]:
imdb.content_rating = le.transform(imdb.content_rating)

/Users/livfranzen/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [26]:
imdb.head()

,movie_title,title_year,director_name,gross,budget,content_rating,country
0,Avatar,2009.0,James Cameron,760505847.0,237000000.0,3,USA
1,Pirates of the Caribbean: At World's End,2007.0,Gore Verbinski,309404152.0,300000000.0,3,USA
2,The Dark Knight Rises,2012.0,Christopher Nolan,448130642.0,250000000.0,3,USA
3,John Carter,2012.0,Andrew Stanton,73058679.0,263700000.0,3,USA
4,Spider-Man 3,2007.0,Sam Raimi,336530303.0,258000000.0,3,USA

In [27]:
# Write cleaned up dataframe to csv
imdb.to_csv("./labels_adjusted_metadata.csv", index=False, encoding="utf-8")

In [28]:
imdb.budget.describe()

count    2.939000e+03
mean     4.016044e+07
std      4.323384e+07
min      1.100000e+03
25%      1.100000e+07
50%      2.500000e+07
75%      5.500000e+07
max      3.000000e+08
Name: budget, dtype: float64