In [1]:
import pandas as pd

# load imdb csv file into dataframe
imdb = pd.read_csv("./movie_rate_adjusted_metadata.csv" )
imdb.head()

,movie_title,title_year,director_name,gross,budget,content_rating,country
0,Avatar,2009.0,James Cameron,760505847.0,237000000.0,PG-13,USA
1,Pirates of the Caribbean: At World's End,2007.0,Gore Verbinski,309404152.0,300000000.0,PG-13,USA
2,The Dark Knight Rises,2012.0,Christopher Nolan,448130642.0,250000000.0,PG-13,USA
3,John Carter,2012.0,Andrew Stanton,73058679.0,263700000.0,PG-13,USA
4,Spider-Man 3,2007.0,Sam Raimi,336530303.0,258000000.0,PG-13,USA

In [2]:
imdb.shape

(3020, 7)

In [3]:
imdb.content_rating.unique()

array(['PG-13', 'PG', 'G', 'R', 'NC-17'], dtype=object)

In [10]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(imdb.content_rating.unique())
#le.fit(['G','PG','PG-13','R', 'NC-17'])

list(le.classes_)

['G', 'NC-17', 'PG', 'PG-13', 'R']

In [11]:
org = le.inverse_transform([0,1,2,3,4])
org

array(['G', 'NC-17', 'PG', 'PG-13', 'R'],
      dtype='<U5')

In [6]:
numRatings = le.transform(imdb.content_rating) 
imdb.content_rating = numRatings;
numRatings

array([3, 3, 3, ..., 3, 4, 2])

In [7]:
imdb.head()

,movie_title,title_year,director_name,gross,budget,content_rating,country
0,Avatar,2009.0,James Cameron,760505847.0,237000000.0,3,USA
1,Pirates of the Caribbean: At World's End,2007.0,Gore Verbinski,309404152.0,300000000.0,3,USA
2,The Dark Knight Rises,2012.0,Christopher Nolan,448130642.0,250000000.0,3,USA
3,John Carter,2012.0,Andrew Stanton,73058679.0,263700000.0,3,USA
4,Spider-Man 3,2007.0,Sam Raimi,336530303.0,258000000.0,3,USA

In [8]:
imdb.language.unique()

AttributeError: 'DataFrame' object has no attribute 'language'

In [ ]:
droppedNan = imdb.dropna(how='any')

le_lang = preprocessing.LabelEncoder()
le_lang.fit(droppedNan.language.unique())

list(le_lang.classes_)

In [ ]:
#numLanguages = le_lang.transform(imdb.language) 
droppedNan.language = le_lang.transform(droppedNan.language) 
droppedNan

In [ ]:
# Write cleaned up dataframe to csv
droppedNan.to_csv("./labels_adjusted_metadata.csv", index=False, encoding="utf-8")

In [ ]:
imdb.language.describe()