In [52]:
import pandas as pd

# load imdb csv file into dataframe
imdb = pd.read_csv("./movie_rate_adjusted_metadata.csv" )
imdb.head()

,movie_title,title_year,director_name,gross,budget,content_rating,language
0,Avatar,2009.0,James Cameron,760505847.0,237000000.0,PG-13,English
1,Pirates of the Caribbean: At World's End,2007.0,Gore Verbinski,309404152.0,300000000.0,PG-13,English
2,Spectre,2015.0,Sam Mendes,200074175.0,245000000.0,PG-13,English
3,The Dark Knight Rises,2012.0,Christopher Nolan,448130642.0,250000000.0,PG-13,English
4,John Carter,2012.0,Andrew Stanton,73058679.0,263700000.0,PG-13,English

In [53]:
imdb.shape

(3774, 7)

In [54]:
imdb.content_rating.unique()

array(['PG-13', 'PG', 'G', 'R', 'NC-17'], dtype=object)

In [55]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(imdb.content_rating.unique())

list(le.classes_)

['G', 'NC-17', 'PG', 'PG-13', 'R']

In [56]:
numRatings = le.transform(imdb.content_rating) 
numRatings
imdb.content_rating = numRatings;

In [57]:
imdb.head()

,movie_title,title_year,director_name,gross,budget,content_rating,language
0,Avatar,2009.0,James Cameron,760505847.0,237000000.0,3,English
1,Pirates of the Caribbean: At World's End,2007.0,Gore Verbinski,309404152.0,300000000.0,3,English
2,Spectre,2015.0,Sam Mendes,200074175.0,245000000.0,3,English
3,The Dark Knight Rises,2012.0,Christopher Nolan,448130642.0,250000000.0,3,English
4,John Carter,2012.0,Andrew Stanton,73058679.0,263700000.0,3,English

In [58]:
imdb.language.unique()

array(['English', 'Mandarin', 'Aboriginal', 'Spanish', 'French',
       'Filipino', 'Maya', 'Kazakh', 'Cantonese', 'Japanese', 'Aramaic',
       'Italian', 'Dutch', 'Dari', 'German', 'Mongolian', 'Thai',
       'Bosnian', 'Korean', 'Hungarian', 'Hindi', nan, 'Portuguese',
       'Norwegian', 'Czech', 'Russian', 'None', 'Danish', 'Zulu', 'Hebrew',
       'Arabic', 'Vietnamese', 'Indonesian', 'Persian'], dtype=object)

In [59]:
droppedNan = imdb.dropna(how='any')

le_lang = preprocessing.LabelEncoder()
le_lang.fit(droppedNan.language.unique())

list(le_lang.classes_)

['Aboriginal',
 'Arabic',
 'Aramaic',
 'Bosnian',
 'Cantonese',
 'Czech',
 'Danish',
 'Dari',
 'Dutch',
 'English',
 'Filipino',
 'French',
 'German',
 'Hebrew',
 'Hindi',
 'Hungarian',
 'Indonesian',
 'Italian',
 'Japanese',
 'Kazakh',
 'Korean',
 'Mandarin',
 'Maya',
 'Mongolian',
 'None',
 'Norwegian',
 'Persian',
 'Portuguese',
 'Russian',
 'Spanish',
 'Thai',
 'Vietnamese',
 'Zulu']

In [60]:
#numLanguages = le_lang.transform(imdb.language) 
droppedNan.language = le_lang.transform(droppedNan.language) 
droppedNan

/Users/livfranzen/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

,movie_title,title_year,director_name,gross,budget,content_rating,language
0,Avatar,2009.0,James Cameron,760505847.0,237000000.0,3,9
1,Pirates of the Caribbean: At World's End,2007.0,Gore Verbinski,309404152.0,300000000.0,3,9
2,Spectre,2015.0,Sam Mendes,200074175.0,245000000.0,3,9
3,The Dark Knight Rises,2012.0,Christopher Nolan,448130642.0,250000000.0,3,9
4,John Carter,2012.0,Andrew Stanton,73058679.0,263700000.0,3,9
5,Spider-Man 3,2007.0,Sam Raimi,336530303.0,258000000.0,3,9
6,Tangled,2010.0,Nathan Greno,200807262.0,260000000.0,2,9
7,Avengers: Age of Ultron,2015.0,Joss Whedon,458991599.0,250000000.0,3,9
8,Harry Potter and the Half-Blood Prince,2009.0,David Yates,301956980.0,250000000.0,2,9
9,Batman v Superman: Dawn of Justice,2016.0,Zack Snyder,330249062.0,250000000.0,3,9
10,Superman Returns,2006.0,Bryan Singer,200069408.0,209000000.0,3,9
11,Quantum of Solace,2008.0,Marc Forster,168368427.0,200000000.0,3,9
12,Pirates of the Caribbean: Dead Man's Chest,2006.0,Gore Verbinski,423032628.0,225000000.0,3,9
13,The Lone Ranger,2013.0,Gore Verbinski,89289910.0,215000000.0,3,9
14,Man of Steel,2013.0,Zack Snyder,291021565.0,225000000.0,3,9
15,The Chronicles of Narnia: Prince Caspian,2008.0,Andrew Adamson,141614023.0,225000000.0,2,9
16,The Avengers,2012.0,Joss Whedon,623279547.0,220000000.0,3,9
17,Pirates of the Caribbean: On Stranger Tides,2011.0,Rob Marshall,241063875.0,250000000.0,3,9
18,Men in Black 3,2012.0,Barry Sonnenfeld,179020854.0,225000000.0,3,9
19,The Hobbit: The Battle of the Five Armies,2014.0,Peter Jackson,255108370.0,250000000.0,3,9
20,The Amazing Spider-Man,2012.0,Marc Webb,262030663.0,230000000.0,3,9
21,Robin Hood,2010.0,Ridley Scott,105219735.0,200000000.0,3,9
22,The Hobbit: The Desolation of Smaug,2013.0,Peter Jackson,258355354.0,225000000.0,3,9
23,The Golden Compass,2007.0,Chris Weitz,70083519.0,180000000.0,3,9
24,King Kong,2005.0,Peter Jackson,218051260.0,207000000.0,3,9
25,Titanic,1997.0,James Cameron,658672302.0,200000000.0,3,9
26,Captain America: Civil War,2016.0,Anthony Russo,407197282.0,250000000.0,3,9
27,Battleship,2012.0,Peter Berg,65173160.0,209000000.0,3,9
28,Jurassic World,2015.0,Colin Trevorrow,652177271.0,150000000.0,3,9
29,Skyfall,2012.0,Sam Mendes,304360277.0,200000000.0,3,9
...,...,...,...,...,...,...,...
3744,Another Earth,2011.0,Mike Cahill,1316074.0,100000.0,3,9
3745,Sweet Sweetback's Baadasssss Song,1971.0,Melvin Van Peebles,15180000.0,500000.0,4,9
3746,Tadpole,2000.0,Gary Winick,2882062.0,150000.0,3,9
3747,Once,2007.0,John Carney,9437933.0,180000.0,4,9
3748,The Texas Chain Saw Massacre,1974.0,Tobe Hooper,30859000.0,83532.0,4,9
3749,Roger & Me,1989.0,Michael Moore,6706368.0,160000.0,4,9
3750,Your Sister's Sister,2011.0,Lynn Shelton,1573712.0,125000.0,4,9
3751,Facing the Giants,2006.0,Alex Kendrick,10174663.0,100000.0,2,9
3752,The Gallows,2015.0,Travis Cluff,22757819.0,100000.0,4,9
3753,Hollywood Shuffle,1987.0,Robert Townsend,5228617.0,100000.0,4,9
3754,The Lost Skeleton of Cadavra,2001.0,Larry Blamire,110536.0,40000.0,2,9
3755,The Last House on the Left,2009.0,Dennis Iliadis,32721635.0,15000000.0,4,9
3756,Pi,1998.0,Darren Aronofsky,3216970.0,60000.0,4,9
3757,20 Dates,1998.0,Myles Berkowitz,536767.0,60000.0,4,9
3758,Super Size Me,2004.0,Morgan Spurlock,11529368.0,65000.0,2,9
3759,The FP,2011.0,Brandon Trost,40557.0,60000.0,4,9
3760,Happy Christmas,2014.0,Joe Swanberg,30084.0,70000.0,4,9
3761,The Brothers McMullen,1995.0,Edward Burns,10246600.0,25000.0,4,9
3762,Smiling Fish & Goat on Fire,1999.0,Kevin Jordan,277233.0,40000.0,4,9
3763,The Legend of God's Gun,2007.0,Mike Bruce,243768.0,30000.0,4,9
3764,Clerks,1994.0,Kevin Smith,3151130.0,230000.0,4,9
3765,In the Company of Men,1997.0,Neil LaBute,2856622.0,25000.0,4,9
3766,Sabotage,2014.0,David Ayer,10499968.0,35000000.0,4,9
3767,Slacker,1991.0,Richard Linklater,1227508.0,23000.0,4,9
3768,The Puffy Chair,2005.0,Jay Duplass,192467.0,15000.0,4,9
3769,Pink Flamingos,1972.0,John Waters,180483.0,10000.0,1,9
3770,Clean,2004.0,Olivier Assayas,136007.0,4500.0,4,11
3771,Primer,2004.0,Shane Carruth,424760.0,7000.0,3,9
3772,El Mariachi,1992.0,Robert Rodriguez,2040920.0,7000.0,4,29
3773,My Date with Drew,2004.0,Jon Gunn,85222.0,1100.0,2,9

In [61]:
# Write cleaned up dataframe to csv
droppedNan.to_csv("./labels_adjusted_metadata.csv", index=False, encoding="utf-8")

In [62]:
imdb.language.describe()

count        3772
unique         33
top       English
freq         3628
Name: language, dtype: object