In [9]:
import pandas as pd

# load imdb csv file into dataframe
imdb = pd.read_csv("./movie_all_relevant_rate_adjusted_metadata.csv" )
imdb.head()

,movie_title,title_year,director_name,gross,budget,content_rating,country,duration,actor_1_facebook_likes,genres
0,Avatar,2009.0,James Cameron,760505847.0,237000000.0,PG-13,USA,178.0,1000.0,Action|Adventure|Fantasy|Sci-Fi
1,Pirates of the Caribbean: At World's End,2007.0,Gore Verbinski,309404152.0,300000000.0,PG-13,USA,169.0,40000.0,Action|Adventure|Fantasy
2,The Dark Knight Rises,2012.0,Christopher Nolan,448130642.0,250000000.0,PG-13,USA,164.0,27000.0,Action|Thriller
3,John Carter,2012.0,Andrew Stanton,73058679.0,263700000.0,PG-13,USA,132.0,640.0,Action|Adventure|Sci-Fi
4,Spider-Man 3,2007.0,Sam Raimi,336530303.0,258000000.0,PG-13,USA,156.0,24000.0,Action|Adventure|Romance

In [10]:
imdb.shape

(2940, 10)

In [11]:
imdb.content_rating.unique()

array(['PG-13', 'PG', 'G', 'R', 'NC-17'], dtype=object)

In [12]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
le.fit(imdb.content_rating.unique())

list(le.classes_)

['G', 'NC-17', 'PG', 'PG-13', 'R']

In [13]:
imdb.content_rating = le.transform(imdb.content_rating)

In [14]:
imdb.head()

,movie_title,title_year,director_name,gross,budget,content_rating,country,duration,actor_1_facebook_likes,genres
0,Avatar,2009.0,James Cameron,760505847.0,237000000.0,3,USA,178.0,1000.0,Action|Adventure|Fantasy|Sci-Fi
1,Pirates of the Caribbean: At World's End,2007.0,Gore Verbinski,309404152.0,300000000.0,3,USA,169.0,40000.0,Action|Adventure|Fantasy
2,The Dark Knight Rises,2012.0,Christopher Nolan,448130642.0,250000000.0,3,USA,164.0,27000.0,Action|Thriller
3,John Carter,2012.0,Andrew Stanton,73058679.0,263700000.0,3,USA,132.0,640.0,Action|Adventure|Sci-Fi
4,Spider-Man 3,2007.0,Sam Raimi,336530303.0,258000000.0,3,USA,156.0,24000.0,Action|Adventure|Romance

In [17]:
# Write cleaned up dataframe to csv
imdb.to_csv("./movie_all_relevant_labels_adjusted_metadata.csv", index=False, encoding="utf-8")

In [18]:
imdb.budget.describe()

count    2.940000e+03
mean     4.015019e+07
std      4.323006e+07
min      1.100000e+03
25%      1.100000e+07
50%      2.500000e+07
75%      5.500000e+07
max      3.000000e+08
Name: budget, dtype: float64