In [1]:
import pandas as pd

# load imdb csv file into dataframe
df = pd.read_csv("./movie_metadata.csv" )
#filter out movies with no gross earnings or no budget data & only USA movies
imdb = df[(df.gross > 0) & (df.budget > 0) & (df.country == 'USA')].loc[:,['movie_title','title_year','director_name','gross','budget','content_rating','country','duration','actor_1_facebook_likes','genres']]
imdb.head()

,movie_title,title_year,director_name,gross,budget,content_rating,country,duration,actor_1_facebook_likes,genres
0,Avatar,2009.0,James Cameron,760505847.0,237000000.0,PG-13,USA,178.0,1000.0,Action|Adventure|Fantasy|Sci-Fi
1,Pirates of the Caribbean: At World's End,2007.0,Gore Verbinski,309404152.0,300000000.0,PG-13,USA,169.0,40000.0,Action|Adventure|Fantasy
3,The Dark Knight Rises,2012.0,Christopher Nolan,448130642.0,250000000.0,PG-13,USA,164.0,27000.0,Action|Thriller
5,John Carter,2012.0,Andrew Stanton,73058679.0,263700000.0,PG-13,USA,132.0,640.0,Action|Adventure|Sci-Fi
6,Spider-Man 3,2007.0,Sam Raimi,336530303.0,258000000.0,PG-13,USA,156.0,24000.0,Action|Adventure|Romance

In [17]:
#filter out any NaN values
drop_NaN_imdb = imdb.dropna(how='any')
drop_NaN_imdb.shape

(3052, 10)

In [18]:
#filter out any duplicate instances
drop_duplicates_imdb = drop_NaN_imdb.drop_duplicates()
drop_duplicates_imdb.shape

(2972, 10)

In [20]:
# Write cleaned up dataframe to csv
drop_duplicates_imdb.to_csv("./movie_all_relevant_cleaned_metadata.csv", index=False, encoding="utf-8")

In [4]:
ratedMovies.head()

,movie_title,title_year,director_name,gross,budget,content_rating,country,duration,actor_1_facebook_likes,genres
0,Avatar,2009.0,James Cameron,760505847.0,237000000.0,PG-13,USA,178.0,1000.0,Action|Adventure|Fantasy|Sci-Fi
1,Pirates of the Caribbean: At World's End,2007.0,Gore Verbinski,309404152.0,300000000.0,PG-13,USA,169.0,40000.0,Action|Adventure|Fantasy
3,The Dark Knight Rises,2012.0,Christopher Nolan,448130642.0,250000000.0,PG-13,USA,164.0,27000.0,Action|Thriller
5,John Carter,2012.0,Andrew Stanton,73058679.0,263700000.0,PG-13,USA,132.0,640.0,Action|Adventure|Sci-Fi
6,Spider-Man 3,2007.0,Sam Raimi,336530303.0,258000000.0,PG-13,USA,156.0,24000.0,Action|Adventure|Romance

In [5]:
# Write cleaned up dataframe to csv
ratedMovies.to_csv("./movie_all_relevant_metadata.csv", index=False, encoding="utf-8")